*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-bg {
  background: #1e1e1e;
  
  
}
.navLink {
  background: linear-gradient(
    270deg,
    #10b45b 50%,
    rgba(194, 254, 229, 0) 153.12%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.commonButton {
  background: linear-gradient(
    99.26deg,
    #10b45b 42.99%,
    rgba(6, 216, 216, 0.4) 89.9%
  );
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.heroSection {
    background: linear-gradient(180.29deg, #39E669 -223.84%, #2E2E2E 102.5%);
}
.textStyle{
  background: linear-gradient(90deg, #0BEF59 0%, rgba(12, 243, 216, 0.91) 104.22%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  
}

.loginPage{
  
  background: linear-gradient(185.49deg, #31BC50 -199.67%, #1E1E1E 122.96%);
}